@font-face {
  font-family: "MonaspaceArgon";
  src: url("fonts/MonaspaceArgon-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MonaspaceArgon";
  src: url("fonts/MonaspaceArgon-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MonaspaceArgon";
  src: url("fonts/MonaspaceArgon-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "MonaspaceArgon";
  src: url("fonts/MonaspaceArgon-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "NotoSerif";
  src: url("fonts/NotoSerif-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerif";
  src: url("fonts/NotoSerif-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerif";
  src: url("fonts/NotoSerif-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "NotoSerif";
  src: url("fonts/NotoSerif-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "NotoSans";
  src: url("fonts/NotoSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  src: url("fonts/NotoSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  src: url("fonts/NotoSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "NotoSans";
  src: url("fonts/NotoSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
