$black: #000000;

$gray: #757780ff;
$rich-black: #121420ff;
$sienna: #772f1aff;
$timberwolf: #dbd4d3ff;
$baby-powder: #f7f7f2ff;

* {
  // for testing
  // border: 1px black solid;
}

body {
  font-family: Arial, sans-serif;
  background: $baby-powder;
  margin: 0;
}

.container {
  margin: 0 10%;
}

h1 {
  font-size: xx-large;
  font-weight: bold;
}

h2 {
  font-size: x-large;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $rich-black;
  a {
    text-decoration: none;
  }
}

p {
  font-size: medium;
}

header {
  padding: 1rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10%;
  // padding: 0 10%;

  .site-title {
    letter-spacing: 0.05rem;
  }

  a {
    // font-size: large;
    text-decoration: none;
    color: $rich-black;
  }

  a:hover {
    text-decoration: underline;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    li {
      text-transform: lowercase;
      list-style-type: none;
    }

    .active {
      a {
        text-decoration: underline;
      }
    }
  }
}

img {
  height: 100%;
  width: 100%;
}

pre {
  padding: 0.5rem;
}

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
}

ul {
  li {
    list-style-type: disc;
  }
}

.hero-image-container {
  text-align: center;
  img {
    height: unset;
    width: unset;
  }

  // margin: 0 40%;
}
