* {
  // border: 1px black solid;
}

@import "fonts";

$black: #000000;

p {
  font-family: "NotoSerif";
  font-weight: normal;
  font-style: normal;
}

.container {
  margin: 0 25%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "NotoSans";
  // font-family: "MonaspaceArgon";
  // font-family: "NotoSerif";
  font-weight: bold;
  font-style: normal;

  a {
    text-decoration: none;
    color: $black;
  }
}

header {
  margin-top: 1rem;
  font-family: "NotoSans";
  // font-family: "MonaspaceArgon";
  font-weight: bold;
  font-style: normal;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: $black;
  }

  a:hover {
    text-decoration: underline;
  }

  .site-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    li {
      text-transform: uppercase;
      list-style-type: none;
    }
  }
}

img {
  height: 100%;
  width: 100%;
}

pre {
  padding: 0.5rem;
}

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
}

ul {
  li {
    list-style-type: "– ";
  }
}
