<link
  rel="stylesheet"
  type="text/css"
  href="/syntax-theme-dark.css"
  media="(prefers-color-scheme: dark)"
/>

<link
  rel="stylesheet"
  type="text/css"
  href="/syntax-theme-light.css"
  media="(prefers-color-scheme: light)"
/>

<style>
  .image-container {
    text-align: center;
  }

  .hero-image {
    max-height: 30vh;
  }

  .flex-container {
    display: flex;
  }

  .flex-column {
    flex-direction: column;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background-color: #333;
    }

    pre:has(code) {
      background-color: var(--background-color) !important;
    }
  }
</style>
