<link
  rel="stylesheet"
  type="text/css"
  href="/syntax-theme-dark.css"
  media="(prefers-color-scheme: dark)"
/>

<link
  rel="stylesheet"
  type="text/css"
  href="/syntax-theme-light.css"
  media="(prefers-color-scheme: light)"
/>

<style>
  body {
    background-color: blue !important;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --background-color: #333;
    }

    body {
      background-color: blue !important;
    }

    pre:has(code) {
      background-color: var(--background-color) !important;
    }
  }
</style>
