{% macro table_of_contents(toc) %}
  {% if toc %}
    <ul>
      {% for header in toc %}
        <li>
          <a href="{{ header.permalink | safe }}">{{ header.title }}</a>
          {% if header.children %}{{ self::table_of_contents(toc=header.children) }}{% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro nav_item(name, path) %}
  {% set url = get_url(path=path) %}
  <li class="{% if current_url is starting_with(url) %}active{% endif %}">
    <a href="{{ url }}">{{ name }}</a>
  </li>
{% endmacro %}
